services:
  quicknote-api:
    build: .
    ports:
      - "${APP_PORT}:${APP_PORT}"
    volumes:
      - ./:/app
      - /app/node_modules
    networks:
      - quicknote-database

  quicknote-db:
    image: mysql:8.0
    ports:
      - "${DB_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - quicknote-database

volumes:
  mysql_data:

networks:
  quicknote-database: